:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255,0,86);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}
@function getAnimationDuration($duration: number){
    @return calc($duration * var(--animation-speed));
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--font-size);
    font-family: "Roboto", sans-serif;
}

.section.quote{
    display: block;
    .quote-text{
        font-size: 1.2em;
        line-height: 1.3;
        color: var(--text-color);
        svg{
            color: var(--primary-color);
            font-size: 1.5em;
            margin-right: .5em;
        }
    }
    .quote-author{
        color: var(--text-light);
        text-align: left;
        margin-top: 1em;
    }
}
.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 3px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}
.custom-image{
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@import "partials/hero-section.scss";
img{
    object-fit: cover;
}
.main{
    padding-block: 3vw;

}
@import "partials/improve-skill.scss";
@import "partials/navbar.scss";
.container {
    padding-inline: 12vw;
}
@import "partials/animation.scss";
@media screen and (max-width:768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
}
